.theme-dropdown .dropdow-menu{
    position        : static;
    display         : block;
    margin-bottom   : 20px;
}

.theme-showcase > p > .btn{
    margin: 5px 0;
}

.theme-showcase .navbar .container{
    width: auto;
}

.error-message{
    color: red;
}

.ativo{
    color: orange;
}

.oculto{
    display: none;
}